<%- include('partials/_header')-%>

  <body>

    <!-- Navigation -->
    <%- include('partials/_navigation')-%>


      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Clean Blog</h1>
                <span class="subheading">A Blog Theme by Start Bootstrap</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <% posts.forEach(function(post){ %>
              <div class="post-preview">
                <a href="/post/<%= post._id %>">
                  <h2 class="post-title">
                    <%= post.title %>
                  </h2>
                  <h3 class="post-subtitle">
                    <%= post.subtitle %>
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">CleanBlog</a>
                  <%= post.dateCreated.toDateString()%>
                </p>
              </div>
              <hr>
              <% }); %>
                <!-- Pager -->
                <div class="clearfix">

                  <% if(pages>1) { if (page==1) { %>
                    <a class="btn btn-primary float-right" href="/?page=<%= page+1 %>">Older Posts &rarr;</a>
                    <% } else if (page==pages) {%>
                      <a class="btn btn-primary float-left" href="/?page=<%= page-1 %>">&larr; New Posts </a>
                      <% } else {%>
                        <a class="btn btn-primary float-right" href="/?page=<%= page+1 %>">Older Posts &rarr;</a>
                        <a class="btn btn-primary float-left" href="/?page=<%= page-1 %>">&larr; New Posts </a>
                        <% }} %>
                </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Footer -->
      <%- include('partials/_footer')-%>

  </body>

  </html>