<%- include('partials/_header')-%>

  <body>

    <!-- Navigation -->
    <%- include('partials/_navigation')-%>


      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= post.title %>
                </h1>
                <h2 class="subheading">
                  <%= post.subtitle %>
                </h2>
                <span class="meta">Posted by
                  <a href="#">CleanBlog</a>
                  <%= post.dateCreated.toDateString()%>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div style="display: flex; flex-direction:row; justify-content:space-around">
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/edit_post/<%=post._id%>">Edit Post </a>
        </div>
        <div class="clearfix">
          <a class="btn btn-danger  float-right" href="/deletepost/<%=post._id%>?_method=DELETE"
            onclick="return confirm('Are you sure?')">Delete Post </a>
        </div>
      </div>
      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p>
                <%= post.content %>
              </p>
            </div>
          </div>
        </div>
      </article>

      <hr>

      <!-- Footer -->
      <%- include('partials/_footer')-%>

  </body>

  </html>